--extra-index-url https://jfrog.cummins.com/artifactory/api/pypi/da-dse-pypi-release-local/simple
boto3
requests
authtoken_jfrog_artifacts==1.58.0
edge_db_simple_layer
edge_sqs_utility_layer
edge_db_lambda_client==0.3.0
edge_gps_utility_layer==0.1.0
edge_simple_logging_layer
