 --extra-index-url https://jfrog.cummins.com/artifactory/api/pypi/da-dse-pypi-release-local/simple
 edge_db_lambda_client==0.3.0
 edge_core_layer==1.5.0
 edge_sqs_utility_layer==1.5.0
 python_request_layer==1.5.0